@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700&display=swap');
*{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
scroll-behavior: smooth;
}

body {
background-color: var(--white);
}

ul {
list-style: none;
}

.container {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

/* Smole */

@media (min-width: 768px) {
.container {
  width: 750px;
}
}

/* Mediume */

@media (min-width: 992px) {
.container {
  width: 970px;
}
}

/* Large */

@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}

/* End Global Rules */

:root {
--main-color: #7579e7;
--h1-color: #9ab3f5;
--light-bg: #a3d8f4;
--ultra-light: #ecf9ff;
--white : #ffffffe6;
}
body {
    font-family: 'Cairo', sans-serif;
}




/* 
    Header
*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    margin-top: 2rem;
    gap: 1.5rem;
}


header {
    font-family: inherit;
    background: var(--h1-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 3px 3px 1px rgb(0 0 0 / 10%);
}

header .add-icon {
    cursor: pointer;
}

section.todo-list {
    position: relative;
    background-color: var(--light-bg);
    border-radius: 6px;
    padding: 1rem;
    height: 15rem;
}


 
.todo-list i {
    position: absolute;
    right: 90%;
    bottom: 0px;
    color: var(--white);
    font-size: 1.35rem;
    cursor: pointer;
}
.todo-list h3{
    font-size: 1.2rem;
    color: var(--ultra-light);
    padding-bottom: 0.7rem;
    border-bottom: 2px solid var(--white);
}

.todo-list p {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--ultra-light);
    margin-block: 0.7rem;
    line-height: 1.4;
}

/* 
    Popup
*/

.popup {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 40%);
    inset: 0 0 0 0;
}

form {
    max-width: 40rem;
    width: 30rem;
    height: 30rem;
    background: var(--ultra-light);
    border-radius: 6px;
    padding: 2.5rem 1.5rem 2rem;
}

.title {
    margin-bottom: 1.25rem;
}

.title label , .desc label{
    font-size: 1rem;
    color: var(--main-color);
    margin-bottom: 0.6rem;
}

.title input {
    width: 100%;
    font-weight: bold;
    color: var(--main-color);
    font-size: 1.12rem;
    padding: 0.35rem;
    background: var(--ultra-light);
    border-radius: 5px;
    border: 1px solid var(--main-color);
    outline: none;
}

.title input::placeholder {
    color: var(--h1-color);
    font-size: 1.12rem;
    font-weight: 500;
}

/* desc */
textarea {
    resize: none;
    width: 100%;
    height: 15.5rem;
    font-weight: 500;
    color: var(--h1-color);
    font-size: 18px;
    padding: 10px;
    background: var(--ultra-light);
    border-radius: 5px;
    border: 1px solid var(--main-color);
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  textarea::-webkit-scrollbar {
    width: 0px;
  }
  
  textarea::placeholder {
    font-weight: 500;
    font-size: 1.12rem;
    color: var(--h1-color);
  }


  /* btns form */
  .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .btns button {
    outline: none;
    border: none;
    background: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
  }

  .btns input {
    padding: 0.6rem 2rem;
    background-color: var(--main-color);
    color: var(--ultra-light);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

  /* media query  */

  @media (max-width : 767px){
    .popup {
        padding-inline: 0.65rem;
    }
    .popup form {
        padding: 2.5rem 1rem 2rem;
    }
  }
/* custome classe */
.d-f {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.d-coul {
    display: flex;
    flex-direction: column;
}